/* Container Principal */
.container {
    max-width: 800px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Labels e Inputs */
.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #555;
    box-shadow: 0px 0px 5px rgba(46, 46, 46, 0.5);
    outline: none;
}

button.btn-primary,
a.btn-secondary {
    padding: 10px 20px; 
    text-align: center; 
    flex-shrink: 0;
    font-weight: bold;
    color: #ffffff;
    background-color: #555; /* Nova cor de fundo */
    border-color: #555; /* Nova cor da borda */
}
button.btn-primary:hover,
a.btn-secondary:hover {
    background-color: #333; /* Cor de fundo ao passar o mouse */
    border-color: #333; /* Cor da borda ao passar o mouse */
}
/* Alertas */
.alert {
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Imagem */
img.img-thumbnail {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    .d-flex {
        flex-direction: column;
        align-items: center;
    }
}
