/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #ffffff;
    margin: 0;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;    
    gap: 20px;           
    justify-content: flex-start; 
    flex-wrap: nowrap;      
    margin-top: 30px; 
    padding-top: -10px; 
    min-width: 450px;
}

.product-card {
    display: flex;
    align-items: center;        
    gap: 20px;                   
    padding: -30px;
    background-color: #858585;
    border-radius: 10px;
    overflow: hidden;
    min-width: 150px;
    gap: 10px;
    max-height: 450px;     
    left: 50%;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para posicionar o texto corretamente */
    /* transition: transform 0.3s ease;  Removendo a transição */
}


.product-image img {
    width: 100%;             /* Ajusta a largura para ocupar 100% do contêiner */
    max-width: 300px;        /* Define uma largura máxima, se necessário */
    max-height: 150px;       /* Define a altura máxima da imagem */
    height: auto;            /* Mantém a proporção da altura */
    object-fit: cover;       /* Cobre todo o espaço do contêiner mantendo a proporção */
    border-radius: 5px;      /* Adiciona cantos arredondados */
    display: block;          /* Remove espaços em branco abaixo da imagem */
}

.product-details {
    padding: 10px; 
    background: #000000;
    border-radius: 12px;
    max-width: 400px; 
    max-height: 400px;     
    font-size: 0.9em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    flex: 4;                  
    color: #fff;
}

.new-label {
    background-color: #00ff40; 
    color: #000000; 
    font-weight: bold; 
    padding: 5px 10px; 
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
    text-transform: uppercase; /* Texto em letras maiúsculas */
    display: inline-block; /* Para que o padding e a cor de fundo funcionem corretamente */
    margin-left: 90px; /* Espaço à esquerda do rótulo */
}


.price {
    font-size: 1.5em;
    color: #ffffff;
}

.color-options .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.size-options .size-btn {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */ 
}

.buy-btn {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px; /* Bordas arredondadas */
    margin: 10px;
 }

/* Main Container for User Profile */
.main-container {
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0;
}

/* Profile Header */
.profile-header {
    display: flex;
    flex-direction: column;
}

/* Profile Cover */
.profile-cover {
    width: 100vw;
    min-height: 275px;
    height: auto;
    margin-bottom: 400px;
    position: relative;
    background-image: url('assets/fundo_index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #fffefe;
    overflow: hidden;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Overlay Image */
.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px;
    z-index: 5;
    object-fit: cover;
}

/* Profile Picture */
.profile-picture {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    background-color: #f0f0f0; 
    border: 5px solid #ffffff; 
    overflow: hidden; 
}

.profile-picture img {
    width: 100%; 
    height: 100%;
    border-radius: 50%; 
    object-fit: cover; 
}

/* User Description */
.user-description {
    position: relative;
    top: -200px;
    color: #000000; 
    padding: 10px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    text-align: center; 
    margin-top: -80px; 
    margin-left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
  
}

.user-description h1 {
    font-size: 24px; 
    color: #000000; 
    margin: 0; 
    font-weight: bold;
}

/* Edit Form */
.user-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    background-color: #f3f3f3; 
    border-radius: 15px; 
    padding: 20px; 
    margin-top: -20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    position: relative; 
}

label {
    font-weight: bold;
}

/* Buttons */
.edit-button {
    position: relative; 
    top: -100px; 
    right: -1190px; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
    background-color: #5c5c5d; 
    color: white; 
    transition: background-color 0.3s ease; 
}

.edit-button:hover {
    background-color: #a445da;
    transform: scale(1.0); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}


/* Add Product Button */
.button {
    position: absolute;
    top: 400px;
    right: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #999999;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border: none;
    z-index: 1000; 
}

.button:hover {
    background-color: #1b935b;
    transform: scale(1.0); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

/* Secondary Button */
.button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border: none;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
}

.button-secondary:hover {
    background-color: #db0303;
    transform: scale(1.0); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

/* Products Section */
.products {
    color: #fff;
    font-weight: bold;
}

/* Textarea Styles */
.textarea {
    width: 90%; 
    max-width: 270px;
    resize: none; 
    overflow-y: hidden; 
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #f44336;
}

button:hover {
    opacity: 0.9;
}

.tabs-container {
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #656565;
    margin-bottom: 20px;
}

.tab {
    color: #505050;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.tab.active, .tab:hover {
    color: #000000;
    font-weight: bold;
}

.tab i {
    margin-right: 5px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
