body {
    background-color: #fafafa;
    color: #333;
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 247) !important;
}

a {
    text-decoration: none !important;
    color: #333;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.Main h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stats-btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.stats-btn:hover {
    color: #007bff;
}

.Users {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.Users-User {
    position: relative; /* Necessário para posicionar o botão absolutamente dentro do container */
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    width: 90%; /* Aumentando a largura para ocupar mais espaço horizontal */
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 15px;

    border-color: white !important;
    background-color: #fff;
    border-radius: 20px !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) !important;
    padding: 20px;
}

.Users-User:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
}

.user-info strong {
    font-size: 16px;
    color: #333;
}

.user-info p {
    margin: 0;
}

/* Estilo do botão "Seguir" */
.follow-btn {
    position: absolute; /* Posicionamento absoluto para alinhar o botão à direita */
    right: 10px; /* Distância da borda direita do container */
    top: 50%; /* Posiciona o botão verticalmente no meio */
    transform: translateY(-50%); /* Centraliza o botão verticalmente */
    background-color: #3924a3;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.follow-btn:hover {
    background-color: #3f28b4; /* Cor mais escura ao passar o mouse */
}   

.unfollow {
    background-color: #3924a3;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close-btn {
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

.email{
    margin: 0 !important;
    margin-left: 10px    !important;
}

/* Tabs Section */
.tabs-container {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e0e0e5;
    gap: 20px;
    margin-bottom: 20px;
}

.tab {
    color: #888;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
    position: relative;
}

.tab.active, .tab:hover {
    color: #333; /* Texto preto para a aba ativa e ao passar o mouse */
    font-weight: bold;
}

.tab-content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.tab-content.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

