* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Carrossel e seções */
.carousel-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
    color: white;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.highlight-section, .promotion-section, .new-arrival-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.highlight-section {
    background: linear-gradient(45deg, #dbf6f9, #1fa9d7);
}

.promotion-section {
    background: linear-gradient(45deg, #fadede, #ff5050);
}

.new-arrival-section {
    background: linear-gradient(45deg, #fef9ff, #8e08c4);
}

.content {
    max-width: 50%;
    margin: 80px;
}

.content h1 {
    font-size: 2.5em;
    margin: 0;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.image-container {
    max-width: 50%;
}

.image-container img {
    max-width: 85%;
    border-radius: 15px;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}

/* Controle de navegação do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.carousel-control-prev-icon {
    left:50px;
}

.carousel-control-next-icon{
    right: 50px;
}

/* Indicadores do carrossel */
.carousel-indicators [data-bs-target] {
    background-color: black;
}

/* Ajustes para diferentes telas */
@media (max-width: 768px) {
    .carousel-item {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .image-container {
        max-width: 100%;
    }
}