@import url("Modal.css");
body{
    user-select: none;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/black_image.png');
    background-size: cover;
    z-index: 1;
    opacity: 70%;
}






