body{
    background: url('../Assets/fundo_index.jpg') no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/black_image.png');
    z-index: 1;
    opacity: 70%;
}

.main{
    position: relative;
    z-index: 2;
}

.Register-button{
    color: white;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 2px 2px 10px rgba(0, 0, 0);
    border: none;
    padding: 0;
    font-size: large;   
}
.Login-button{
    background-color: white;
    color: #000000;
    font-size: large;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.741);
}
.Login-button:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
.Register-button:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
.Login-button:not(:hover){
    transition: transform 0.5s ease;
    transform: scale(1);
}
.Register-button:not(:hover){
    transition: transform 0.5s ease;
    transform: scale(1);
}

/*######################### Tela de celular #########################*/
  @media (max-width: 480px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    img{
        width: 60%;
    }
    
    h1{
        font-size: 8vh;
        margin-top: 2%;
        margin-bottom: 0%;
    }
    h2{
        margin-top: 0%;
        margin-bottom: 0%;
        color: #ffffff99;
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }
    .div-buttons{
        margin-top: 6vh;
    }
    .Login-button{
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 25px;
        margin-left: 2vw;
    }
  }
/*######################### Tela de Tablet #########################*/
  @media (min-width: 480px) and (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    img{
        height: 30%;
        margin-top: -6%;
    }
    
    h1{
        font-family: monospace;
        font-size: 80px;
        margin-top: 0.5%;
        margin-bottom: 0%;
    }
    h2{
        margin-top: 0%;
        margin-bottom: 0%;
        color: #ffffff99;
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }
    .div-buttons{
        margin-top: 8vh;
    }
    .Login-button{
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 25px;
        margin-left: 2vw;
    }
    }

/*######################### Tela de Computador #########################*/
  @media (min-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    img{
        height: 30%;
        margin-top: -6%;
    }
    
    h1{
        font-size: 80px;
        margin-top: 0.5%;
        margin-bottom: 0%;
    }
    h2{
        margin-top: 0%;
        margin-bottom: 0%;
        color: #ffffff99;
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }
    .div-buttons{
        margin-top: 8vh;
    }
    .Login-button{
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 25px;
        margin-left: 2vw;
    }
  }
  