body{
    background: url('../Assets/fundo_index.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.homeImg{
    width: 60px;
    position: absolute;
    margin: 15px;
    filter: drop-shadow(0px 10px 10px rgba(71, 71, 71, 1));
    position: relative;
    z-index: 2;
}

.homeImg:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
  
.homeImg:not(:hover){
    transition: transform 0.5s ease;
    transform: scale(1);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: relative;
    z-index: 2;
}

.window{
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 40px;
    
}

.containerh1{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
}

.containerh1 img{
    width:100px;
    margin-right: 5px;
   
}

.containerh1 h1{
    margin-top: 20px;  
    color: black 
}

h1{
    font-family: monospace;
    font-size: 70px;
    margin-top: 2%;
    margin-bottom: 0%;
}
h2{
    margin-top: 0%;
    color: #000000;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
@media (max-width: 600px) {
    .form-container{
        width: 70%;
    }
}
@media (min-width: 600px) {
    .form-container{
        width: 70%;
    }
}

form{
    width: 100%;
}


.input-box{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
@media (max-width: 600px) {
    .input-box{
        margin: 5% 0px;
    }
}
@media (min-width: 600px) {
    .input-box{
        margin: 30px 0px;
    }
}

form img{
    filter: drop-shadow(0px 10px 10px rgb(163, 163, 163));
}

@media (max-width: 600px) {
    form img{
        height: 25px;
        width: 25px;
        margin: 10px 0px;
        margin-right: 7px;
    }
}

@media (min-width: 600px) {
    form img{
        width: 35px;
        margin: 3px 10px;
    }
}


input{
    background-color: transparent;
    border: none;
}
input::placeholder{
    color: #838383;
    text-shadow: 0px 3px 5px rgba(0,0,0,0.1);
} 

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid #a19e9e;
    padding: 5px 0;
    color: #000000;
}
input[type="password"] {
    background: none;
    border: none;
    border-bottom: 1px solid #a19e9e;
    padding: 5px 0;
    color: #000000;
}
input[type="number"] {
    background: none;
    border: none;
    border-bottom: 1px solid #a19e9e;
    padding: 5px 0;
    color: #000000;
}
@media (max-width: 600px) {
    input[type="text"] {
        width: 110%;
    }
}

@media (min-width: 600px) {
    input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 600px) {
    input[type="password"] {
        width: 110%;
    }
}

@media (min-width: 600px) {
    input[type="password"] {
        width: 100%;
    }
}


input[type="submit"] {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: large;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.437);
    border-radius: 20px;
    padding: 10px 25px;
    margin-top: 20px;
}


input[type="text"]:focus {
    outline: none;
}
input[type="password"]:focus {
    outline: none;
}

input[type="submit"]:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
  
input[type="submit"]:not(:hover){
    transition: transform 0.5s ease;
    transform: scale(1);
}

.divsubmit{
    display: flex;
    justify-content: center;
    margin: 0px;
}