body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

img {
    width: 30%;
}

p {
    font-size: 25px;
}

img {
    border-radius: 10%;
}

@media (min-width: 700px) {
    img {
        width: 20%;
    }

    .shoe-details {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .shoe-:last-child{
        margin-top: -10px;
    }

    .shoe-info {
        margin-top: 0;
        margin-inline: 20px;
    }
}
.shoe-info a {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: large;
    text-shadow: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 0px;
    text-decoration: none;
}

.shoe-info a:hover {
    transform: scale(1.07);
    transition: transform 0.4s ease;
}
  
.shoe-info a:not(:hover){
    transition: transform 0.4s ease;
    transform: scale(1);
}
@media (max-width: 700px) {
    .shoe-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    img {
        width: 80%;
    }
}

.seller {
    margin-top: -20px;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.seller-image-container {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border: 2px solid white; /* Adicionado: borda branca ao redor da imagem */
    border-radius: 50%; /* Adicionado: borda circular */
    overflow: hidden; /* Adicionado: para garantir que a borda circular funcione corretamente */
}

.seller img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.description-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.description {
    display: flex;
    width: 42%;
    font-size: 20px;
    text-align: left;
    background-image: linear-gradient(rgb(219, 219, 219), rgb(255, 255, 255));
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    padding: 30px 30px;
    flex-direction: column;
}


.add-to-cart{
    background-color: black;
    width: 100%;
    color: white;
    border-radius: 20px;
    height: 30px;
    font-weight: 700;
}

.add-to-cart:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
  
.add-to-cart:not(:hover){
    transition: transform 0.3s ease;
    transform: scale(1);
}